* {
    box-sizing: border-box;
    font-family: 'New Tegomin', serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 1rem;
}

.cabecalho {
    align-items: center;
    background: url('../img/plano-de-fundo.jpg') bottom / cover no-repeat;
    border-radius: 20px 10px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.cabecalho__logo {
    width: 10rem;
    color: #008080;
}

.cabecalho__navegacao__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
}

.cabecalho__link {
    justify-content: space-around;
}

.cabecalho__link>a {
    color: #040a1a;
    font-size: 1.1rem;
    margin: 0 1rem;
    transition: 4s;
}

.cabecalho__link>a:hover {
    font-family: 'Montserrat', sans-serif;
    transition: 4s;
}

.chamada {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
}

.container {
    padding: 0 6%;
}

.botao {
    border: 2px solid teal;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin: 1.3rem 0;
    max-width: 350px;
    padding: .7rem 1.3rem;
    width: 100%;
}